<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>About us</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic%7CPoppins:300,400,500,700">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <div class="page-loader">
        <div class="brand-name"><img src="images/mylogo.jpg" alt="" width="176" height="70"/>
        </div>
        <div class="page-loader-body">
          <div class="cssload-jumping"><span></span><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-stick-up-clone="true" data-md-stick-up-offset="190px" data-lg-stick-up-offset="190px">

            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img src="images/mylogo.jpg" alt="" width="176" height="45"/></a></div>
              </div>
              <!-- RD Navbar Nav-->
              <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav">
                  <li><a href="/">Home</a>
                  </li>
                  <li class="active"><a href="/aboutus">About Us</a>
                  </li>
                  <li><a href="">Adopt a Pet</a>
                    <ul class="rd-navbar-dropdown tabs-nav">
                      <li><a href="/feed">Adopt cats</a>
                      </li>
                      <li><a href="/dogfeed">Adopt dogs</a>
                      </li>
                      <li><a href="/bbfeed">Adopt small pets</a>
                      </li>
                    </ul>
                  </li>


                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs & Page title-->
      <div class="page-title">
        <div class="page-title-text">About us</div>
        </div>

      <!-- Who We Are-->
      <section class="section-md-top bg-gray-light text-center">
        <div class="shell">
          <h2>Who We Are</h2>
          <div class="range range-sm-center text-left">
            <div class="cell-sm-9 cell-md-6">
              <div class="section-md-bottom">
                <p class="h4-alternate">Helping thousands of homeless animals</p>
                <p>At Endless Pawsabilities, we believe all animals are deserving of life, respect and care. Our goal is zero-population-growth through spay/neuter programs and services that focus on education, medical care, fostering and adoption.</p>
                <ul class="list-bars">
                  <li class="list-bars-item">
                    <!-- Progress Bar-->
                    <div class="progress-bar-bs progress-variant-primary">
                      <p class="list-bars-item-header">Animal care</p>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                      </div><span class="caption">75%</span>
                    </div>
                  </li>
                  <li class="list-bars-item">
                    <!-- Progress Bar-->
                    <div class="progress-bar-bs progress-variant-primary">
                      <p class="list-bars-item-header">Pet boarding</p>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
                      </div><span class="caption">85%</span>
                    </div>
                  </li>
                  <li class="list-bars-item">
                    <!-- Progress Bar-->
                    <div class="progress-bar-bs progress-variant-primary">
                      <p class="list-bars-item-header">Lost and found pets</p>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                      </div><span class="caption">80%</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="cell-sm-6 veil reveal-md-flex height-fill">
              <div class="image-wrap-2"><img src="images/about-1-570x481.png" alt="" width="570" height="481"/>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- What We Do-->
      <section class="section-decoration-wrap">
        <div class="shell">
          <div class="range">
            <div class="cell-md-6 cell-lg-5">
              <div class="section-decoration-image"><img src="images/about-2-946x628.jpg" alt="" width="946" height="628"/>
              </div>
            </div>
            <div class="cell-md-6 cell-lg-7">
              <div class="section-decoration-content">
                <div class="section-lg">
                  <h2>What We Do</h2>
                  <p class="text-gray-darker">Every year hundreds of animals such as dogs, cats become homeless for many reasons. Our mission is to find the homeless animals around the country and give them a better life. As like humans, they need love, care and also need home. We founded our organization to give them a chance for a loving home and family. Our successes are going forward and every year we give a better life to hundreds of homeless animals.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


    
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
