<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Endless Pawsabilities</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic%7CPoppins:300,400,500,700">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <div class="page-loader">
        <div class="brand-name"><img src="images/logo-default-176x45.png" alt="" width="176" height="45"/>
        </div>
        <div class="page-loader-body">
          <div class="cssload-jumping"><span></span><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
      <!-- Page Header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-top-panel-light" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-fullwidth" data-stick-up-clone="true" data-md-stick-up-offset="90px" data-lg-stick-up-offset="90px">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Nav-->
              <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav">
                  <li><a href="about-us.html" >About Us</a></li>
                  <li><a href="/feed">Adopt a Pet</a>
                    <ul class="rd-navbar-dropdown tabs-nav">
                      <li><a href="/feed">Adopt cats</a></li>
                      <li><a href="/dogfeed">Adopt dogs</a></li>
                      <li><a href="/smallanifeed">Adopt small pets</a></li>
                    </ul>
                  </li>

                </ul>
              </div>
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="active"><img src="images/mylogo.jpg" width="176" height="60"></div>
              </div>
              <!-- RD Navbar Top Panel-->
              <div class="rd-navbar-top-panel">
                <div class="rd-navbar-top-panel-toggle" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></div>
                <div class="rd-navbar-top-panel-content">
                  <a class="btn btn-sm btn-primary-outline btn-effect-ujarak" href="/login">Login</a>
                  <a class="btn btn-sm btn-primary-outline btn-effect-ujarak" href="/signup">Sign Up</a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Swiper-->
      <section>
        <div class="swiper-bg-wrap swiper-style-3 bg-gray-dark">
          <div class="swiper-container swiper-slider swiper-bg" data-autoplay="3500">
            <div class="swiper-wrapper">
              <div class="swiper-slide" data-slide-bg="images/slider-3-slide-1-1920x850.jpg"></div>
              <div class="swiper-slide" data-slide-bg="images/slider-3-slide-2-1920x850.jpg"></div>
              <div class="swiper-slide" data-slide-bg="images/slider-3-slide-3-1920x850.jpg"></div>
            </div>
            <!-- Swiper Navigation-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- Swiper Pagination-->
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-bg-content">
            <div class="jumbotron-custom jumbotron-custom-variant-3 context-dark">
              <div class="shell">
                <div class="jumbotron-custom-inner">
                  <p class="h4 mark mark-alternate mark-spacing-2 wow fadeInUpSmall" data-wow-duration=".7s">ordinary homeless animal may be your</p>
                  <p class="h1 wow fadeInUpSmall" data-wow-delay=".1s" data-wow-duration=".7s">True Friend</p>
                  <!-- RD Mailform-->
                  <form class="rd-mailform text-left wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration=".75s">
                    <div class="group-xs group-middle">
                      <div class="form-group">
                        <!--Select 2-->
                        <select class="form-control select-filter" id="form-location" data-placeholder="Location" data-minimum-results-for-search="Infinity" data-constraints="@Required" name="location">
                          <option value="1">Any location</option>
                          <option value="2">Boston</option>
                          <option value="3">New York</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <!--Select 2-->
                        <select class="form-control select-filter" id="form-animal-type" data-placeholder="Animal type" data-minimum-results-for-search="Infinity" data-constraints="@Required" name="animal-type">
                          <option value="1">All</option>
                          <option value="2">Cat</option>
                          <option value="3">Dog</option>
                          <option value="4">Small pet</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-blue-marguerite btn-effect-ujarak" type="submit">Search</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Thumbnails-->
      <section class="section-md bg-white">
        <div class="shell shell-wide">
          <div class="range spacing-30">
            <div class="cell-sm-6 cell-lg-3">
              <!-- Thumbnail ruby--><a class="thumbnail-steve thumbnail-steve-responsive" href="/dogfeed">
                <figure class="thumbnail-steve-image"><img src="images/home3-1-422x260.jpg" alt="" width="422" height="260"/>
                </figure>
                <div class="thumbnail-steve-caption">
                  <p class="thumbnail-steve-title">Dogs</p>
                </div></a>
            </div>

            <div class="cell-sm-6 cell-lg-3">
              <!-- Thumbnail steve--><a class="thumbnail-steve thumbnail-steve-responsive" href="/feed">
                <figure class="thumbnail-steve-image"><img src="images/home3-3-422x260.jpg" alt="" width="422" height="260"/>
                </figure>
                <div class="thumbnail-steve-caption">
                  <p class="thumbnail-steve-title">Cats</p>
                </div></a>
            </div>
            <div class="cell-sm-6 cell-lg-3">
              <!-- Thumbnail steve--><a class="thumbnail-steve thumbnail-steve-responsive" href="/smallanifeed">
                <figure class="thumbnail-steve-image"><img src="images/home3-2-422x260.jpg" alt="" width="422" height="260"/>
                </figure>
                <div class="thumbnail-steve-caption">
                  <p class="thumbnail-steve-title">Birds</p>
                </div></a>
            </div>
            <div class="cell-sm-6 cell-lg-3">
              <!-- Thumbnail steve--><a class="thumbnail-steve thumbnail-steve-responsive" href="/smallanifeed">
                <figure class="thumbnail-steve-image"><img src="images/home3-4-422x260.jpg" alt="" width="422" height="260"/>
                </figure>
                <div class="thumbnail-steve-caption">
                  <p class="thumbnail-steve-title">Bunnies</p>
                </div></a>
            </div>
          </div>
        </div>
      </section>



      <!-- recent news-->
      <section class="section-md bg-gray-light text-center">
        <div class="shell shell-wide">
          <div class="range spacing-30">
            <div class="cell-xs-12">
              <h2>News</h2>
            </div>
            <div class="cell-xs-12">
              <!-- Owl Carousel-->
              <div class="owl-style-tiny">
                <div class="owl-carousel" data-items="1" data-sm-items="2" data-xl-items="3" data-nav="true" data-dots="true" data-stage-padding="0" data-loop="true" data-margin="30" data-md-margin="15" data-mouse-drag="false">
                  <div class="item">
                    <!-- Post-minimal-->
                    <article class="post-minimal"><img class="post-minimal-image" src="images/home3-5-568x266.jpg" alt="" width="568" height="266"/>
                      <div class="post-minimal-body">
                        <div class="post-minimal-main">
                          <p class="post-minimal-title">Wellness Care Plans for Your Pets and Their Benefits</a></p>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="item">
                    <!-- Post-minimal-->
                    <article class="post-minimal"><img class="post-minimal-image" src="images/home3-6-568x266.jpg" alt="" width="568" height="266"/>
                      <div class="post-minimal-body">
                        <div class="post-minimal-main">
                          <p class="post-minimal-title">Top 4 Dog Breeds You Can Easily Take to Work</a></p>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="item">
                    <!-- Post-minimal-->
                    <article class="post-minimal"><img class="post-minimal-image" src="images/home3-7-568x266.jpg" alt="" width="568" height="266"/>
                      <div class="post-minimal-body">
                        <div class="post-minimal-main">
                          <p class="post-minimal-title">Top 5 Most Affectionate Cats for You and Your Family</p>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="pre-footer-minimal bg-gray-dark bg-decorated">
        <div class="bg-decoration bg-decoration-top">
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="1919.000000px" height="24.000000px" viewbox="0 0 1919.000000 24.000000" preserveaspectratio="none">
            <g transform="translate(0.000000,24.000000) scale(0.100000,-0.100000)" stroke="none">
              <path d="M8725 224 c-515 -17 -1068 -50 -1682 -99 -887 -70 -1083 -80 -1418          -71 -239 5 -446 25 -840 81 -263 36 -346 45 -555 56 -332 19 -567 3 -1200 -79          -537 -69 -850 -77 -1395 -32 -325 26 -613 26 -1090 0 -598 -33 -545 -28 -545          -56 l0 -24 9595 0 9595 0 0 24 c0 29 24 26 -430 52 -491 28 -865 30 -1180 4          -552 -44 -867 -37 -1400 32 -631 82 -866 98 -1198 79 -211 -11 -294 -20 -557          -56 -394 -56 -601 -76 -840 -81 -336 -9 -493 -1 -1480 76 -1071 83 -1280 91          -2360 94 -511 2 -970 2 -1020 0z"></path>
            </g>
          </svg>
        </div>
        <div class="pre-footer-minimal-inner">
          <div class="shell text-center text-sm-left">
            <div class="range range-sm-center spacing-55">
              <div class="cell-sm-12 cell-md-4 text-sm-center text-md-left">
                <h4>Quick Links</h4>
                <div class="group-md-1">
                  <ul class="list-nav-marked">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About us</a></li>
                  </ul>
                  <ul class="list-nav-marked">
                    <li><a href="/">Lost & Found</a></li>
                    <li><a href="/">Pet Services</a></li>
                  </ul>
                  <ul class="list-nav-marked">
                    <li><a href="/">Adopt a Pet</a></li>
                    <li><a href="/">News & Events</a></li>
                  </ul>
                </div>
              </div>
              <div class="cell-sm-4 cell-md-3">
                <h4>Opening Hours</h4>
                <dl class="terms-list-inline">
                  <dt>Week Days</dt>
                  <dd>08:00am–7:30pm</dd>
                </dl>
                <dl class="terms-list-inline">
                  <dt>Sunday, Saturday</dt>
                  <dd>08:00am–4:00pm</dd>
                </dl>
              </div>
              <div class="cell-sm-4 cell-md-2">
                <h4>Phone</h4>
                <ul class="list-xxs">
                  <li><a class="link link-md" href="callto:#">+1 (123) 456–7890</a></li>
                  <li><a class="link" href="mailto:#">info@demolink.org</a></li>
                </ul>
              </div>
              <div class="cell-sm-4 cell-md-3">
                <h4>Address</h4>
                <address class="reveal-inline-block" style="max-width: 215px">
                  <p>Washington, USA 6036 Richmond hwy., Alexandria, VA, 2230</p>
                </address>
              </div>
            </div>
          </div>
        </div>
        <div class="shell">
          <hr>
        </div>
      </section>
      <footer class="page-footer-minimal">
        <div class="shell">
          <p class="rights">Endless Pawsabilities&nbsp;&copy;&nbsp;<span id="copyright-year"></span>.&nbsp;<br class="veil-sm"><a class="link-underline" href="privacy-policy.html">Privacy Policy</a>
          </p>
        </div>
      </footer>

    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
