<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Endless Pawsabilities</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic%7CPoppins:300,400,500,700">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <div class="page-loader">
        <div class="brand-name"><img  alt="" width="176" height="45"/>
        </div>
        <div class="page-loader-body">
          <div class="cssload-jumping"><span></span><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-stick-up-clone="true" data-md-stick-up-offset="190px" data-lg-stick-up-offset="190px">

            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="/<messages[i].petname>"><img  alt="" width="176" height="45"/></a></div>
              </div>
              <!-- RD Navbar Nav-->
              <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav">
                  <li><a href="/">Home</a>
                  </li>
                  <li><a href="about-us.html">About Us</a>
                  </li>
                  <li><a href="adopt-a-pet.html">Adopt a Pet</a>
                    <ul class="rd-navbar-dropdown tabs-nav">
                      <li><a href="/feed">Adopt cats</a>
                      </li>
                      <li><a href="/dogfeed">Adopt dogs</a>
                      </li>
                      <li><a href="adopt-a-pet.html#adopt-small-pets">Adopt small pets</a>
                      </li>

                    </ul>
                  </li>
                  <li><a href="logout">Log Out</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Adopt pets-->
      <section class="section-md bg-white text-center">
        <div class="shell">

              <div id="adopt-dogs">
                <h4>Our Featured Small Animals</h4>
                <div class="range spacing-30">





              <div id="adopt-small-pets">
                <div class="range spacing-70">
                  <div class="cell-md-6"><img class="img-responsive" src="images/adopt-small-pets-1-370x240.jpg" alt="" width="370" height="240"/>
                  </div>
                  <div class="cell-md-6 text-gray-darker">
                    <p>We have a selection of small animals available for adoption. Our animal shelter offers you a possibility to adopt almost any small pet that come in different shapes and sizes and can be perfect friends or companions for your family. Our range of small pets includes:</p>
                    <ul class="marked-list">
                      <li>Hamsters</li>
                      <li>Rabbits</li>
                      <li>Parrots</li>
                    </ul>
                  </div>

                  <div class="cell-xs-12">
                    <div class="range spacing-negative-1">
                      <div class="cell-md-6"><a class="thumbnail-minimal" href="single-page-pets.html">
                          <div class="thumbnail-minimal-left"><img class="thumbnail-minimal-image-minimal" src="images/adopt-small-pets-2-96x107.jpg" alt="" width="96" height="107"/>
                          </div>
                          <div class="thumbnail-minimal-body">
                            <p class="thumbnail-minimal-title">Brittany</p>
                            <p class="thumbnail-minimal-subtitle">Budgerigar Parrot</p>
                          </div></a><a class="thumbnail-minimal" href="single-page-pets.html">
                          <div class="thumbnail-minimal-left"><img class="thumbnail-minimal-image-minimal" src="images/adopt-small-pets-3-96x107.jpg" alt="" width="96" height="107"/>
                          </div>
                          <div class="thumbnail-minimal-body">
                            <p class="thumbnail-minimal-title">Harlow</p>
                            <p class="thumbnail-minimal-subtitle">Hamster</p>
                          </div></a><a class="thumbnail-minimal" href="single-page-pets.html">
                          <div class="thumbnail-minimal-left"><img class="thumbnail-minimal-image-minimal" src="images/adopt-small-pets-4-96x107.jpg" alt="" width="96" height="107"/>
                          </div>
                          <div class="thumbnail-minimal-body">
                            <p class="thumbnail-minimal-title">August</p>
                            <p class="thumbnail-minimal-subtitle">Budgerigar Parrot</p>
                          </div></a><a class="thumbnail-minimal" href="single-page-pets.html">
                          <div class="thumbnail-minimal-left"><img class="thumbnail-minimal-image-minimal" src="images/adopt-small-pets-5-96x107.jpg" alt="" width="96" height="107"/>
                          </div>
                          <div class="thumbnail-minimal-body">
                            <p class="thumbnail-minimal-title">Christina</p>
                            <p class="thumbnail-minimal-subtitle">Rabbit</p>
                          </div></a>
                      </div>
                      <div class="cell-md-6"><a class="thumbnail-minimal" href="single-page-pets.html">
                          <div class="thumbnail-minimal-left"><img class="thumbnail-minimal-image-minimal" src="images/adopt-small-pets-6-96x107.jpg" alt="" width="96" height="107"/>
                          </div>
                          <div class="thumbnail-minimal-body">
                            <p class="thumbnail-minimal-title">Martha</p>
                            <p class="thumbnail-minimal-subtitle">Hamster</p>
                          </div></a><a class="thumbnail-minimal" href="single-page-pets.html">
                          <div class="thumbnail-minimal-left"><img class="thumbnail-minimal-image-minimal" src="images/adopt-small-pets-7-96x107.jpg" alt="" width="96" height="107"/>
                          </div>
                          <div class="thumbnail-minimal-body">
                            <p class="thumbnail-minimal-title">Mink</p>
                            <p class="thumbnail-minimal-subtitle">Budgerigar Parrot</p>
                          </div></a><a class="thumbnail-minimal" href="single-page-pets.html">
                          <div class="thumbnail-minimal-left"><img class="thumbnail-minimal-image-minimal" src="images/adopt-small-pets-8-96x107.jpg" alt="" width="96" height="107"/>
                          </div>
                          <div class="thumbnail-minimal-body">
                            <p class="thumbnail-minimal-title">Penelope</p>
                            <p class="thumbnail-minimal-subtitle">Rabbit</p>
                          </div></a><a class="thumbnail-minimal" href="single-page-pets.html">
                          <div class="thumbnail-minimal-left"><img class="thumbnail-minimal-image-minimal" src="images/adopt-small-pets-9-96x107.jpg" alt="" width="96" height="107"/>
                          </div>
                          <div class="thumbnail-minimal-body">
                            <p class="thumbnail-minimal-title">Macy</p>
                            <p class="thumbnail-minimal-subtitle">Budgerigar Parrot</p>
                          </div></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Page Footer-->

    <!-- Javascript-->
    <script src="main.js"></script>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
