<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Endless Pawsabilities</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic%7CPoppins:300,400,500,700">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <div class="page-loader">
        <div class="brand-name"><img  alt="" width="176" height="45"/>
        </div>
        <div class="page-loader-body">
          <div class="cssload-jumping"><span></span><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-stick-up-clone="true" data-md-stick-up-offset="190px" data-lg-stick-up-offset="190px">

            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img  alt="" width="176" height="45"/></a></div>
              </div>
              <!-- RD Navbar Nav-->
              <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav">
                  <li><a href="index.html">Home</a>
                  </li>
                  <li><a href="about-us.html">About Us</a>
                  </li>
                  <li><a href="adopt-a-pet.html">Adopt a Pet</a>
                    <ul class="rd-navbar-dropdown tabs-nav">
                      <li><a href="adopt-a-pet.html#adopt-cats">Adopt cats</a>
                      </li>
                      <li><a href="adopt-a-pet.html#adopt-dogs">Adopt dogs</a>
                      </li>
                      <li><a href="adopt-a-pet.html#adopt-small-pets">Adopt small pets</a>
                      </li>
                      <li><a href="/smallanifeed">Single Page Pets</a>
                      </li>
                    </ul>
                  </li>

                  <!-- <li class="active"><a href="#">Pages</a>
                    <ul class="rd-navbar-megamenu">
                      <li>
                        <p class="rd-megamenu-header">Donate</p>
                        <ul class="rd-megamenu-list">
                          <li><a href="make-a-gift-online.html">Make a Gift Online</a></li>
                          <li><a href="sustaining-gifts.html">Sustaining Gifts</a></li>
                          <li><a href="estate-and-planned-giving.html">Estate and Planned Giving</a></li>
                          <li><a href="memorials-and-honorariums.html">Memorials and Honorariums</a></li>
                          <li><a href="more-ways-to-give.html">More Ways to Give</a></li>
                          <li><a href="host-your-own-fundraiser.html">Host Your Own Fundraiser</a></li>
                          <li><a href="donate-to-our-wish-list.html">Donate to Our Wish List</a></li>
                          <li><a href="donate-a-vehicle.html">Donate a Vehicle</a></li>
                          <li><a href="community-service-projects.html">Community Service Projects</a></li>
                        </ul>
                      </li>
                      <li>
                        <p class="rd-megamenu-header">Pages</p>
                        <ul class="rd-megamenu-list">
                          <li><a href="404-page.html">404 Page</a></li>
                          <li><a href="503-page.html">503 Page</a></li>
                          <li><a href="maintenance.html">Maintenance</a></li>
                          <li><a href="coming-soon.html">Coming soon</a></li>
                          <li><a href="login-page.html">Login page</a></li>
                          <li><a href="register-page.html">Register page</a></li>
                          <li><a href="search-results.html">Search results</a></li>
                          <li><a href="privacy-policy.html">Privacy policy</a></li>
                          <li><a href="site-map.html">Site map</a></li>
                          <li><a href="contacts.html">Contacts</a></li>
                        </ul>
                      </li>
                      <li>
                        <p class="rd-megamenu-header">Elements</p>
                        <ul class="rd-megamenu-list">
                          <li><a href="buttons.html">Buttons</a></li>
                          <li><a href="grid.html">Grid</a></li>
                          <li><a href="forms.html">Forms</a></li>
                          <li><a href="progress-bars.html">Progress bars</a></li>
                          <li><a href="tabs-&amp;-accordions.html">Tabs &amp; accordions</a></li>
                          <li><a href="tables.html">Tables</a></li>
                          <li><a href="typography.html">Typography</a></li>
                        </ul>
                      </li>
                      <li>
                        <p class="rd-megamenu-header">Layouts</p>
                        <ul class="rd-megamenu-list">
                          <li><a href="header-default.html">Header default</a></li>
                          <li><a href="header-transparent.html">Header transparent</a></li>
                          <li><a href="header-fullwidth.html">Header fullwidth</a></li>
                          <li><a href="header-modern.html">Header modern</a></li>
                          <li><a href="footer-default.html">Footer default</a></li>
                          <li><a href="footer-corporate.html">Footer corporate</a></li>
                          <li><a href="footer-minimal.html">Footer minimal</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li> -->
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs & Page title-->
      <div class="page-title">
        <div class="page-title-text">Make A New Listing</div>

      </div>



      <hr>
      <!-- Your information-->
      <section class="section-md bg-white text-center">
      <style>
        form{
          display: flex;
          flex-direction: column;
          width: 50%;
          margin-left: auto;
          margin-right: auto;
        }
        textarea {
          height: 20rem;
          font-size: 2rem;
        }
      </style>

      <form action="/qpPost" enctype="multipart/form-data" method="post">
          <input type="text" name="petName" value="" placeholder="Name">
          <input type="text" name="type" value="" placeholder="Animal">
          <input type="text" name="caption" value="" placeholder="Caption">
          <textarea type="text" name="description" value="" placeholder="Description"></textarea>
          <input type="text" name="age" value=""  placeholder="Age">
          <input type="text" name="weight" value="" placeholder="Weight">
          <input type="text" name="city" value="" placeholder="Location">
          <input type="file" name="file-to-upload">
          <input type="submit" value="Upload">
      </form>
      </section>


      </div>
    </div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
